@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Sans+Javanese&display=swap');

html {
  scroll-behavior: smooth;
}

#root {
  /* font-family: 'Noto Sans Javanese', sans-serif; */
  font-family: 'Merriweather', serif;
  background-image: url("src/assets/images/tft_Set_9_rock_big.jpeg");
  background-size: "cover";
  background-repeat: "no-repeat"
}