@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Sans+Javanese&display=swap');

html {
  scroll-behavior: smooth;
}

#root {
  /* font-family: 'Noto Sans Javanese', sans-serif; */
  font-family: 'Merriweather', serif;
  background-image: url("src/assets/images/SCENE_2.png");
  background-size: 1200px 1200px;
  /* background-repeat: "no-repeat" */
}