.matches {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

.section-title {
  /* color: #ffffff; */
  background-image: "src/assets/images/hd-runeterra-reforged-reveal-image-source-youtube-set-9-v0-9pgcpmq31l2b1~2.jpg";
}

/* #profile-background {
  background-image: "src/assets/images/hd-runeterra-reforged-reveal-image-source-youtube-set-9-v0-9pgcpmq31l2b1~2.jpg";
  background-size: "cover",
} */

/* #SummonerInfoIndexContent {
  background-color: #abc2a5;
} */
