.matches {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}



/* #profile-background {
  background-image: "src/assets/images/hd-runeterra-reforged-reveal-image-source-youtube-set-9-v0-9pgcpmq31l2b1~2.jpg";
  background-size: "cover",
} */
